# Lab Instructions

Find a dataset that interests you. I'd recommend starting on [Kaggle](https://www.kaggle.com/). Read through all of the material about the dataset and download a .CSV file.

1. Write a short summary of the data.  Where did it come from?  How was it collected?  What are the features in the data?  Why is this dataset interesting to you?  

2. Identify 5 interesting questions about your data that you can answer using Pandas methods.  

3. Answer those questions!  You may use any method you want (including LLMs) to help you write your code; however, you should use Pandas to find the answers.  LLMs will not always write code in this way without specific instruction.  

4. Write the answer to your question in a text box underneath the code you used to calculate the answer.

1. This dataset has data on the average cost on sudying aboard as a US citizen. This dataset is interesting because I have a friend who went to study aboard and this can show me what I could have been paying if I did the same.
2. Where is tution the cheapest for a Undergraduate?
    Where is tution the cheapest for a Master’s
    Where is tution the cheapest for a PhD?
    Where is the rent the cheapest?
   Where is the rent the most expensive?
3,4,5.

In [28]:
import pandas as pd

df = pd.read_csv('International_Education_Costs.csv', encoding='ISO-8859-1')

df['Tuition_USD'] = pd.to_numeric(df['Tuition_USD'], errors='coerce')
df['Rent_USD'] = pd.to_numeric(df['Rent_USD'], errors='coerce')

df = df.dropna(subset=['Tuition_USD', 'Rent_USD', 'Level'])

cheapest_undergrad = df[df['Level'] == 'Bachelor'].sort_values('Tuition_USD').iloc[0]
cheapest_masters = df[df['Level'] == "Master"].sort_values('Tuition_USD').iloc[0]
cheapest_phd = df[df['Level'] == 'PhD'].sort_values('Tuition_USD').iloc[0]
cheapest_rent = df.sort_values('Rent_USD').iloc[0]
most_expensive_rent = df.sort_values('Rent_USD', ascending=False).iloc[0]

print("=== Tuition Cost Analysis ===")
print(f"Cheapest Undergraduate Tuition: {cheapest_undergrad['Tuition_USD']} USD in {cheapest_undergrad['City']}, {cheapest_undergrad['Country']} at {cheapest_undergrad['University']}")
print(f"Cheapest Master’s Tuition: {cheapest_masters['Tuition_USD']} USD in {cheapest_masters['City']}, {cheapest_masters['Country']} at {cheapest_masters['University']}")
print(f"Cheapest PhD Tuition: {cheapest_phd['Tuition_USD']} USD in {cheapest_phd['City']}, {cheapest_phd['Country']} at {cheapest_phd['University']}")

print("\n=== Rent Cost Analysis ===")
print(f"Cheapest Rent: {cheapest_rent['Rent_USD']} USD/month in {cheapest_rent['City']}, {cheapest_rent['Country']} at {cheapest_rent['University']}")
print(f"Most Expensive Rent: {most_expensive_rent['Rent_USD']} USD/month in {most_expensive_rent['City']}, {most_expensive_rent['Country']} at {most_expensive_rent['University']}")

=== Tuition Cost Analysis ===
Cheapest Undergraduate Tuition: 0 USD in Helsinki, Finland at University of Helsinki
Cheapest Master’s Tuition: 0 USD in Stavanger, Norway at University of Stavanger
Cheapest PhD Tuition: 0 USD in TromsÃ¸, Norway at UiT Arctic University

=== Rent Cost Analysis ===
Cheapest Rent: 150 USD/month in Bizerte, Tunisia at University of Carthage
Most Expensive Rent: 2500 USD/month in New York, USA at Columbia University